body {
  background-color: #FFFFFF;
  color: #001A27;
  line-height: 1.5;
  width: 414px;
  margin: 0 auto;
  font-family: Helvetica, 'Helvetica Neue', Lato, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, 'Helvetica Neue', Lato, sans-serif;
  font-weight: normal; }
