@import url(https://fonts.googleapis.com/css?family=Raleway:300italic,400,600);
/*------------------------------------*    #GENERAL
\*------------------------------------*/
* {
  box-sizing: border-box; }

body {
  width: 414px;
  height: 736px;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 300;
  color: #001A27;
  border: 1px solid black;
  margin: 50px auto 0 auto;
  font-family: 'Raleway', sans-serif, Lato, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif, Lato, sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }

/*------------------------------------*    #LOADING PAGE
\*------------------------------------*/
section.loading {
  padding-top: 60%;
  text-align: center; }
  section.loading img {
    width: 62px; }
  section.loading h1 {
    font-size: 21px;
    font-weight: 600;
    color: #FF4062;
    text-transform: uppercase; }

/*------------------------------------*    #ONBOARDING + SWIPER
\*------------------------------------*/
.swiper-container {
  width: 414px;
  height: 734px;
  text-align: center;
  padding-top: 40%; }
  .swiper-container h1 {
    font-size: 1.3em;
    letter-spacing: 1.4px; }
  .swiper-container p {
    font-size: 1em; }
    .swiper-container p b {
      color: #FF4062; }
  .swiper-container img {
    width: 38px; }

.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 663px !important; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px !important; }

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important; }

.swiper-pagination-bullet-active {
  background: #FF4062 !important; }

/*------------------------------------*    #BUTTONS
\*------------------------------------*/
.btn {
  text-align: center;
  font-weight: 600;
  font-size: 1.05em; }
  .btn.next {
    height: 92px;
    width: 100%;
    padding-top: 30px;
    background-color: #FF4062;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 1000; }
  .btn.later {
    height: 59px;
    width: 50%;
    margin-top: 42px;
    padding-top: 14px;
    color: #939393;
    text-decoration: none;
    cursor: pointer; }
  .btn.later2 {
    height: 59px;
    width: 50%;
    margin-top: 16px;
    font-size: 18px;
    color: #939393;
    text-decoration: none;
    cursor: pointer; }
  .btn.session {
    height: 59px;
    width: 45%;
    float: right;
    font-weight: 300;
    margin-right: 30px;
    margin-top: -59px;
    padding-top: 14px;
    background-color: #FF4062;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer; }
  .btn.session2 {
    height: 59px;
    width: 70%;
    font-weight: 300;
    font-size: 18px;
    padding-top: 17px;
    background-color: #FF4062;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer; }
  .btn.session-home {
    height: 59px;
    width: 60%;
    font-weight: 300;
    padding-top: 14px;
    background-color: #FF4062;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; }
  .btn.session-done {
    height: 59px;
    width: 60%;
    font-weight: 300;
    padding-top: 14px;
    background-color: #FF4062;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; }
  .btn.settings {
    height: 59px;
    width: 60%;
    font-weight: 600;
    padding-top: 14px;
    background-color: #FFFFFF;
    color: #FF4062;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px; }

/*------------------------------------*    #FORM STYLING CREDIT: http://codepen.io/sevilayha/pen/IdGKH
\*------------------------------------*/
/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin: 70px auto 45px auto;
  width: 300px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 2px solid #e0e0e0; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #e0e0e0;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #FF4062; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #FF4062;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #FF4062; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #FF4062; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #FF4062; }
  to {
    width: 0;
    background: transparent; } }

.error {
  visibility: hidden;
  color: #FF4062;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
  float: right;
  text-transform: uppercase; }

.errorVisible {
  visibility: visible; }

/*------------------------------------*    #HOMEPAGE
\*------------------------------------*/
nav {
  top: 0;
  height: 65px;
  width: 100%;
  background-color: #FF4062; }
  nav p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.3px;
    padding-left: 28.5px;
    padding-top: 22px; }
    nav p.backtohome {
      padding-left: 60px; }
  nav img {
    width: 83px;
    float: right;
    margin-top: -43px; }

.settings {
  top: 0;
  height: 340px;
  width: 100%;
  background-color: #FF4062; }
  .settings .buddy {
    width: 88px;
    margin: 40px 120px 0px 50px; }
  .settings .wifi {
    width: 72px;
    margin: -106px 110px 0px 50px; }

section.home {
  width: 414px;
  height: 734px;
  text-align: center;
  padding-top: 40%; }
  section.home h1 {
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 300; }
  section.home p {
    font-size: 1em; }
    section.home p b {
      color: #FF4062; }
  section.home img {
    width: 38px; }

.before-session {
  padding-top: 20%; }
  .before-session img {
    margin: 75px 0 35px 0;
    width: 209px; }
    .before-session img.fingers {
      width: 281px; }
    .before-session img.arrow {
      position: absolute;
      width: 20px; }
      .before-session img.arrow.slide1 {
        margin: 250px 0 0 -70px; }
      .before-session img.arrow.slide2 {
        margin: 40px 0 0 -270px; }
  .before-session h2 {
    font-size: 18px;
    font-weight: 600; }

.in-session {
  padding-top: 0; }
  .in-session nav {
    z-index: 1; }
    .in-session nav p {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      color: #FFFFFF;
      letter-spacing: 0.3px;
      padding-top: 22px; }
      .in-session nav p.backtohome {
        float: left;
        margin-left: 20px; }
    .in-session nav img {
      width: 83px;
      float: right;
      margin: 0; }
  .in-session .fa {
    position: relative;
    padding-top: 21px;
    color: #FFFFFF;
    float: left; }
  .in-session .time-indication {
    font-weight: 300;
    font-size: 12px;
    padding-top: 570px; }

/*------------------------------------*    #VIDEO-BLOOB
\*------------------------------------*/
.videowrap {
  overflow: hidden;
  width: 412px;
  height: 402px;
  position: absolute;
  margin-top: -580px; }
  .videowrap video {
    margin-left: -190px;
    margin-top: -21px; }

.videocontrols {
  z-index: 100;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -400px;
  text-align: center; }
  .videocontrols a {
    color: #FFFFFF; }

/*------------------------------------*    #FONTAWESOME
\*------------------------------------*/
.fa {
  position: absolute;
  padding-top: 21px;
  color: #FFFFFF;
  margin-left: 21px; }

/*------------------------------------*    #SESSION-HOME
\*------------------------------------*/
section.home-session {
  width: 414px;
  height: 734px;
  text-align: left;
  padding-top: 5%; }
  section.home-session ul {
    list-style: none;
    font-weight: 300;
    margin-top: -20px; }
    section.home-session ul li:nth-child(1n+2) {
      padding-top: 100px; }
    section.home-session ul li p {
      float: right;
      margin: 0;
      margin-right: 15px;
      margin-top: 5px;
      font-weight: 300;
      font-size: 14px;
      lighten: #2D2D2D, 20%; }
  section.home-session a {
    color: #001A27; }
    section.home-session a li:nth-child(odd) {
      padding-top: 50px; }
  section.home-session #session-summary, section.home-session #session-summary2, section.home-session #session-summary3 {
    display: none; }
    section.home-session #session-summary p.duration, section.home-session #session-summary2 p.duration, section.home-session #session-summary3 p.duration {
      float: right;
      margin: 0;
      margin-right: 15px;
      margin-top: 5px;
      font-weight: 300;
      font-size: 14px;
      lighten: #2D2D2D, 20%; }
    section.home-session #session-summary img, section.home-session #session-summary2 img, section.home-session #session-summary3 img {
      max-width: 90%; }

/*------------------------------------*    #MODAL
\*------------------------------------*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* Modal Content */
.modal-content {
  height: 300px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 300px;
  padding: 35px;
  border: 1px solid #888;
  width: 28%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

#myBtn {
  margin-left: 55px;
  font-weight: 600;
  color: #FF4062;
  cursor: pointer; }
