body {
	background-color: $background;
   	color: $text-important;
    line-height: 1.5;
    width: 414px;
    margin: 0 auto;
    font-family:'Raleway', sans-serif, Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Raleway', sans-serif, Lato, sans-serif;
    font-weight: normal;
}
