/*------------------------------------*\
    #GENERAL
\*------------------------------------*/
*{
	box-sizing: border-box;
}

body {
    width: 414px;
	height: 736px;
    font-size: 21px;
    line-height: 1.5;
   	font-weight: 300;
   	color: $text-important;
   	border: 1px solid black;
   	 margin: 50px auto 0 auto;
    font-family:'Raleway', sans-serif, Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	letter-spacing: 1px;
    font-family:'Raleway', sans-serif, Lato, sans-serif;
    font-weight: 300;
}

a{
	text-decoration: none;
}

/*------------------------------------*\
    #LOADING PAGE
\*------------------------------------*/
section.loading{
	padding-top: 60%;
	text-align: center;

	img{
		width: 62px;
	}

	h1{
		font-size: 21px;
		font-weight: 600;
		color: $highlight;
		text-transform: uppercase;
	}
}

/*------------------------------------*\
    #ONBOARDING
\*------------------------------------*/
section{
	text-align: center;

	&.onboarding-text{
		margin: 0 auto;
		padding-top: 40%;

		h1{
			font-size: 1.3em;
			letter-spacing: 1.4px;
		}

		p{
			font-size: 1em;
		}
	}
}

/*------------------------------------*\
    #SWIPER
\*------------------------------------*/
.swiper-container {
    width: 414px;
    height: 734px;
    text-align: center;
    padding-top: 40%;

    h1{
        font-size: 1.3em;
        letter-spacing: 1.4px;
    }

    p{
        font-size: 1em;

        b{
            color: $highlight;
        }
    }

    img{
        width: 38px;
    }


}

.btn{

    height: 92px;
    padding-top: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1.05em;

    &.next{
        width: 100%;
        background-color: $highlight;
        color: $background;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        margin-top: 477px;
        z-index: 1000;
    }

}

.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 663px !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 12px!important;
}

.swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
}
.swiper-pagination-bullet-active{
    background: $highlight !important;
}
/*------------------------------------*\
    #FORM STYLING CREDIT: http://codepen.io/sevilayha/pen/IdGKH
\*------------------------------------*/

/* form starting stylings ------------------------------- */
.group            {
  position:relative;
  margin: 70px auto 45px auto;
  width: 300px;
}

input               {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:2px solid lighten($text, 70%);
}

input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:lighten($text, 70%);
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color: $highlight;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:300px; }

.bar:before, .bar:after     {
  content:'';
  height:3px;
  width:0;
  bottom:1px;
  position:absolute;
  background: $highlight;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:$highlight; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:$highlight; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:$highlight; }
  to    { width:0; background:transparent; }
}